BORG_REPO_PATH="path/on/your/system/to/borgrepo"
EXCLUDE_FILE="path/on/your/system/to/EXCLUDEFILE"
MASSSTORAGE_DATASET="path/on/your/system/to/MASSSTORAGE-DATASET"
BACKUP_MOUNT_POINT="/path/on/your/system/to/backup-mount-point/"
BORG_PASSPHRASE="your-borg-passphrase-here"

IMMICH_SERVER_CONTAINER_NAME="immich_server"
IMMICH_DATABASE_CONTAINER_NAME="immich_postgres"
IMMICH_DATABASE_USERNAME="postgres"
IMMICH_DATABASE_PASSWORD="your-postgres-password-here"
IMMICH_DATABASE_NAME="immich"

MEALIE_API_KEY="your-mealie-api-key-here"
MEALIE_URL="https://your-mealie-domain-here"

AUDIOBOOKSHELF_BACKUP_SRC_LOCATION="path/on/your/system/to/audiobookshelf-backup/"

PAPERLESS_NGX_SERVER_CONTAINER_NAME="paperless_webserver"
PAPERLESS_NGX_DATABASE_CONTAINER_NAME="paperless_db"
PAPERLESS_NGX_DATABASE_FOLDER="path/on/your/system/to/paperless-ngx/data/db/"
