BORG_REPO_PATH="path/on/your/system/to/borgrepo"
EXCLUDE_FILE="path/on/your/system/to/EXCLUDEFILE"
MASSSTORAGE_DATASET="path/on/your/system/to/MASSSTORAGE-DATASET"
TMP_DIR="/path/on/your/system/to/tmp/dir/for/backups/"
BORG_PASSPHRASE="your-borg-passphrase-here"

IMMICH_SERVER_CONTAINER_NAME="immich_server"
IMMICH_DATABASE_CONTAINER_NAME="immich_postgres"
IMMICH_DATABASE_USERNAME="postgres"
IMMICH_DATABASE_NAME="immich"

JELLYFIN_CONTAINER_NAME="jellyfin"
JELLYFIN_CONFIG_PATH="/path/on/your/system/to/jellyfin/config/"

MEALIE_API_KEY="your-mealie-api-key-here"
MEALIE_URL="https://your-mealie-domain-here"

OPENCLOUD_RADICALE_CONTAINER_NAME="opencloud_radicale"
OPENCLOUD_CONTAINER_NAME="opencloud"
OPENCLOUD_CONFIG_DATASET="path/on/your/system/to/opencloud/config/"

DOCKER_COMPOSE_FILES="path/on/your/system/to/docker-compose/files/" # vscode-server docker-apps directory

AUDIOBOOKSHELF_BACKUP_SRC_LOCATION="path/on/your/system/to/audiobookshelf-backup/"

PAPERLESS_NGX_SERVER_CONTAINER_NAME="paperless_webserver"
PAPERLESS_NGX_DATABASE_CONTAINER_NAME="paperless_db"
PAPERLESS_NGX_DATABASE_FOLDER="path/on/your/system/to/paperless-ngx/data/db/"

SURE_BACKUP_SRC_LOCATION="path/on/your/system/to/sure-backup/" # use last to only include one backup file